*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-item a:hover{
    background-color: green;
    padding: 8px 5px;
    border-radius: 5px;
    color: gray;
}
.r-5i{
    color: gold;
}